body {
	margin: 0 0 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	font-weight: bold;
}
button {
	font-weight: bold;
	padding: 7px;
	margin: 20px;
	cursor: pointer;
}

form {
	margin-top: 45px;
}

form *,
.orSignUp {
	padding: 5px 10px;
	margin: 10px auto;
	display: block;
}

nav {
	background-color: #333;
	color: white;
	padding: 15px;
}

nav a {
	margin: 7vw;
	color: white;
	text-decoration: none;
}

nav .user {
	float: right;
	color: #ff6767;
}

nav .user a {
	margin: 3vw;
}

nav .user span {
	text-decoration: underline;
}

.toggle_show button {
	width: 130px;
	opacity: 0.5;
	font-size: 21px;
}

body .active {
	background-color: #ff6767;
	opacity: 1;
}

aside {
	position: fixed;
	top: 30%;
	left: 15px;
	background-color: #eee;
	border: double #ddd;
	margin-left: 30px;
}

aside ul {
	padding: 0;
	margin: 0;
}

aside li {
	display: block;
	padding: 17px;
	cursor: pointer;
	opacity: 0.5;
}

aside li:not(:last-child) {
	border-bottom: solid #ddd;
}

.movies_table {
	margin-left: 30%;
	border-collapse: collapse;
}

.movies_table,
.movies_table th {
	border: solid 2px;
}

.movies_table td {
	font-weight: normal;
	border: solid 1px;
}
.movies_table td,
.movies_table th {
	padding: 5px;
}
